.chat {
  position: absolute;
  /* display: flex; */
  margin-top: 80px;
  width: 1680px;
  height: 876px;
  margin-left: 60px;
}

.chat > .window {
  position: absolute;
  display: flex;
  border-radius: 30px;
  background: #1b1f27;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.chat > .window > .content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.chat > .window > .content > #new {
  color: #fff;
  text-align: center;
  font-family: SemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.chat > .window > .content > .warning {
  display: flex;
  width: 683px;
  height: 102px;
  border-radius: 10px;
  background: rgba(115, 56, 242, 0.4);
  align-items: center;
  justify-content: center;
}

.chat > .window > .content > .warning > svg {
  margin-right: 16px;
}

.chat > .window > .content > .warning > p {
  color: #eee9ff;
  font-family: Regular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.chat > .window > .prompt {
  display: flex;
  position: absolute;
  width: 100%;
  height: 60px;
  margin-top: 750px;
  align-items: center;
  justify-content: center;
}

.chat > .window > .prompt > .prompt-container {
  display: flex;
  border: 0.5px solid #eee9ff;
  border-radius: 30px;
  background: #000;
  width: 683px;
  height: 60px;
  margin-left: 32.43px;
  align-items: center;
}

.chat > .window > .prompt > .prompt-container > #selecting-features {
  width: 42px;
  height: 42px;
  border-radius: 25px;
  margin-left: 14px;
  background: rgba(238, 233, 255, 0.5);
}

.chat > .window > .prompt > .prompt-container > #selecting-features > svg {
  margin-top: 11px;
  margin-left: 11px;
}

.chat > .window > .prompt > .prompt-container > #selecting-features:hover {
  background: #eee9ff;
}

.chat > .window > .prompt > .prompt-container > textarea {
  resize: none;
  border: none;
  background: #000;
  color: #eee9ff;
  font-family: Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
  width: 580px;
}

.chat > .window > .prompt > .prompt-container > textarea::placeholder {
  color: rgba(238, 233, 255, 0.5);
}

.chat > .window > .prompt > .prompt-container > textarea:focus {
  outline: none !important;
  color: #eee9ff;
  font-family: Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.chat > .window > .prompt > .prompt-container > svg {
  position: absolute;
  margin-left: 643px;
}

.chat > .window > .prompt > #send-prompt {
  margin-left: 36px;
}

.chat > .window > .features-box {
  position: absolute;
  width: 195px;
  height: 199px;
  border-radius: 10px;
  border: 0.5px solid #eee9ff;
  background: rgba(27, 31, 39, 0.75);
  box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  margin-top: 531px;
  margin-right: 460px;
}

.chat > .window > .features-box > #communicate-with-bot {
  position: relative;
  width: 155px;
  height: 38px;
  border-radius: 5px;
  background: #eee9ff;
  margin-top: 10px;
  margin-left: 20px;
}

.chat > .window > .features-box > #communicate-with-bot > .p-container-1 {
  color: #7338f2;
  font-family: SemiBold;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 20px;
}

.chat > .window > .features-box > #voice-qa {
  position: relative;
  width: 155px;
  height: 38px;
  border-radius: 5px;
  background: #eee9ff;
  margin-top: 10px;
  margin-left: 20px;
}

.chat > .window > .features-box > #voice-qa > .p-container-2 {
  color: #7338f2;
  font-family: SemiBold;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 20px;
}

.chat > .window > .features-box > #audio-noise-removal {
  position: relative;
  width: 155px;
  height: 38px;
  border-radius: 5px;
  background: #eee9ff;
  margin-top: 10px;
  margin-left: 20px;
}

.chat > .window > .features-box > #audio-noise-removal > .p-container-3 {
  color: #7338f2;
  font-family: SemiBold;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 20px;
}

.chat > .window > .features-box > #text-to-music {
  position: relative;
  width: 155px;
  height: 38px;
  border-radius: 5px;
  background: #eee9ff;
  margin-top: 10px;
  margin-left: 20px;
}

.chat > .window > .features-box > #text-to-music > .p-container-4 {
  color: #7338f2;
  font-family: SemiBold;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 20px;
}
